.main-section {
    display: inline-grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.country-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.news {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
}

.search {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    justify-self: end;
}

.weather {
    grid-column-start: 3;
    grid-row-start: 2;
    /* justify-self: stretch; */
}

@media only screen and (max-width: 1215px){
    .main-section{
        display: grid;
        grid-template-columns: 1fr 1fr;                     
    }
    .search{
        grid-column-start:1;
        margin-bottom:1.25em;
    }
    .country-info{
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:2;
        justify-self: center;

    }
    .weather{
        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:2;
        margin:0;
        justify-self: center;

    }
    .news{
        grid-row-start:3;
        grid-column-start:1;
        grid-column-end:3;
        margin-top:1.25em;
    }
}

@media only screen and (max-width: 768px){
    header{
        position: relative;
        width:auto;
        padding:.25em;
        height: auto;
        margin-bottom:0;
      }
      .main-section{
        display: block;
        position: relative;
       }
     .meet{
       display: block;
       position: relative;
       width:65%;
       margin:auto;
     }
     .search{
       display: block;
       position: relative;
       width:65%;
       margin:auto;
       padding-bottom:.75em;
     }
     
     .news,
     .country-info{
       margin:auto;
       width:auto;
     }
     .weather{
       margin: .75em auto;
       width: auto;
     }
}
